{% extends 'base.html.twig' %}
{% block body %}
<body>
{{ include('templates/header.html.twig') }}
{{ include('templates/aside.html.twig') }}
{% embed "templates/content_draft.html.twig" %}
    {% block content %}
    <div class="col-lg-6">
      <section class="panel">
          <header class="panel-heading">
              Edit Grading for {{grading.subject}}
          </header>
          <div class="panel-body">

            <form id="form">
              <div class="form-group">
                <label>Minimum Score</label>
                <input class="form-control" type="text" id="minimum" value="{{grading.minimum}}" placeholder="Minimum Score" />
              </div>
              <div class="form-group">
                <label>Maximum Score</label>
                <input class="form-control" type="text" id="maximum" value="{{grading.maximum}}" placeholder="Maximum Score" />
              </div>
              <div class="form-group">
                <label>Grade</label>
                <input class="form-control" type="text" id="grade" value="{{grading.grade}}" placeholder="Grade" />
              </div>
              <div class="form-group">
                <label>Remark</label>
                <input class="form-control" type="text" id="remark" value="{{grading.remark}}" placeholder="Remark" />
              </div>
              <button type="button" id="save" class="btn btn-default">Save</button>
              <a class="btn btn-info pull-right" href="{{ path('grading_index') }}">LIst</a>
            </form>
          </div>
      </section>
    </div>

{% endblock %}
{% endembed %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
    $(function() {
      $("#child_grading_c_s_title").focus();
    });
  </script>
    <script>
      $(document).on('click', '#save', function(){
            var minimum = $('#minimum').val();
            var maximum = $('#maximum').val();
            var grade = $('#grade').val();
            var remark = $('#remark').val();
            var subject_id = $('#select_subject').val();
            $('#form').checkFields();
            $('#save').html('Wait...');
            $.ajax({
            url:'{{ (path('edit_entity')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "id": '{{grading.id}}',
                "entity": 'Grading',
                "fields": ['minimum', 'maximum', 'grade', 'remark'],
                "values": [minimum, maximum, grade, remark],
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                $("#cTitle").val('').focus();
                $("#added_gradings").append('<li>'+data+'</li>');
                $('#save').html('SAVED').removeClass('btn-primary').addClass('btn-success');
            },
              error: function (xhr, status, error) {
                        console.log('error');
              }
        });

      });
    </script>
    <script>
    $(document).on('keyup', '.form-control',function (e){
            $('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
    });
    </script>
    <script>
        $(document).on('keypress', '#remark', function(e){
             var key = e.which;
             if(key == 13){
                    $("#save").click();
                    e.preventDefault();
                } else {
                    $('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
                }
        });

</script>
{% endblock %}
