      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="{{path('homepage')}}">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="" id="class_menu">
                          <i class="icon_lightbulb_alt"></i>
                          <span>Classes</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{{path('new_class')}}">Add Class</a></li>
                          <li><a class="" href="{{path('list_classes')}}">List Classes</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">                     
                      <a href="javascript:;" class="" id="subject_menu">
                          <i class="icon_documents_alt"></i>
                          <span>Subjects</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{{path('new_subject')}}">Add Subject</a></li>
                          <li><a class="" href="{{path('list_subjects')}}">List Subjects</a></li>
                      </ul>                      
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_folder"></i>
                          <span>Child Subjects</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{{path('new_childSubject')}}">Add Child Subject</a></li>
                          <li><a class="" href="{{path('list_childSubjects')}}">List Child Subjects</a></li>
                      </ul>
                  </li>
                  
                  <li class="sub-menu">
                      <a href="javascript:;" class="" id="student_menu">
                          <i class="icon_group"></i>
                          <span>Students</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{{path('new_student')}}">Add Student</a></li>                          
                          <li><a class="" href="{{path('choose_class')}}">List Students</a></li>
                      </ul>
                  </li>                  
                  <li class="sub-menu">
                      <a href="javascript:;" class="" id="exam_menu">
                          <i class="icon_document_alt"></i>
                          <span>Exams</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">                          
                          <li><a class="" href="{{path('new_examCompany')}}">Add Exam</a></li>
                          <li><a class="" href="{{path('list_examCompanies')}}"><span>List Exams</span></a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="" href="{{path('update_config')}}">
                          <i class="icon_genius"></i>
                          <span>Settings</span>
                      </a>
                  </li>
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

