{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
<body>
{% set info = "with_print_material" %}
{{ include('templates/header.html.twig') }}        		
{{ include('templates/aside.html.twig') }}        		
{% embed "templates/content_draft.html.twig" %}
	{% block content %}
    {% set parents = [] %}
    {% for childSubject in childSubjects %}
      {% if childSubject.subject.sTitle not in parents %}
        {% set parents = parents|merge([childSubject.subject.sTitle]) %}
      {% endif %}
    {% endfor %}
      {% if students is empty %}
        <div class="well">
          <h3>There are no students for class {{class.cTitle}}. Please <a href="{{path('new_student')}}">add students</a></h3>
        </div>
      {% elseif subjects is empty %}        
        <div class="well">
          <h3>You don't have any subjects added yet! Please <a href="{{path('new_subject')}}">add subjects</a></h3>
        </div>
      {% else %}        
		<div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              Class [{{class.cTitle}}]
              <a class="btn btn-sm btn-primary" href="{{ path('pdf_empty_print', {'classId': class.id, 'companyId': examCompany.id}) }}">Download PDF</a>              
            </header>
            <table id="printDiv" class="table table-striped table-advance table-hover">
             <tbody>
                <tr>
                  <th style="text-nowrap" class="col-md-3">Name</th>
                  {% for subject in subjects %}
                    {% if subject.sTitle in parents %}
                      {% for c_subject in subject.childSubjects %}
                      <th>{{c_subject.cSTitle|title}}</th>
                      {% endfor %}
                    {% endif %}
                    <th style="color:red">{{subject.sTitle|title}}</th>
                  {% endfor %}
                </tr>
                {% for student in students %}
                <tr>
                	<td style="text-nowrap; white-space: nowrap; font-weight:bold; color:black;">{{student.names}}</td>
                    {% for subject in subjects %}
                    {% if subject.childSubjects|length > 1 %}
                      {% for childSub in subject.childSubjects %}
                          <td style="color:blue">___</td>
                      {% endfor %}
                    {% endif %}
                        <td style="color:red">___</td>
                    {% endfor %}
                </tr>
                {% endfor %}
             </tbody>
          </table>
        </section>
      </div>
  {% endif %}
{% endblock %}
{% endembed %}
{% endblock %}
{% block javascripts %}
    <script src="{{asset('printThis/printThis.js')}}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $( "#triggerPrint" ).click(function(e) {    
        $("#printDiv").printThis({
          debug: false,               // show the iframe for debugging
          importCSS: true,            // import page CSS
          importStyle: false,         // import style tags
          printContainer: true,       // grab outer container as well as the contents of the selector
          pageTitle: "Class {{class.cTitle}}",              // add title to print page
          removeInline: false,        // remove all inline styles from print elements
          printDelay: 333,            // variable print delay; depending on complexity a higher value may be necessary
          header: null,               // prefix to html
          footer: null,               // postfix to html
          base: false ,               // preserve the BASE tag, or accept a string for the URL
          formValues: true,           // preserve input/form values
          canvas: false,              // copy canvas elements (experimental)
          doctypeString: "...",       // enter a different doctype for older markup
          removeScripts: false,       // remove script tags from print content
          copyTagClasses: false       // copy classes from the html & body tag
      });
      });
    });    
  </script>

{% endblock %}