{% extends 'base.html.twig' %}
{% block body %}
<body>
{{ include('templates/header.html.twig') }}        		
{{ include('templates/aside.html.twig') }}        		
{% embed "templates/content_draft.html.twig" %}
	{% block content %}
      {% if students is empty %}
        <div class="well">
          <h3>There are no students for class {{class.cTitle}}. Please <a href="{{path('new_student')}}">add students</a></h3>
        </div>
      {% elseif subjects is empty %}        
        <div class="well">
          <h3>You don't have any subjects added yet! Please <a href="{{path('new_subject')}}">add subjects</a></h3>
        </div>
      {% else %}        
			<div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              Exam Records for {{exam.cTitle}} [{{class.cTitle}}]
              <a href="{{path('list_examCompanies', {'class': class.id})}}" class="btn btn-primary pull-right">List Exams</a>
              <a href="{{path('record_summary', {'classId': exam.class.id, 'companyId': exam.id})}}" class="btn btn-primary">Class Report Summary</a>
              <a href="{{path('report_forms', {'classId': exam.class.id, 'companyId': exam.id})}}" class="btn btn-primary">Report Forms</a>
              <a href="{{path('empty_print', {'classId': exam.class.id, 'companyId': exam.id})}}" class="btn btn-primary">Empty Form</a>
            </header>
            {% set parents = [] %}
            {% for childSubject in childSubjects %}
              {% if childSubject.subject.sTitle not in parents %}
                {% set parents = parents|merge([childSubject.subject.sTitle]) %}
              {% endif %}
            {% endfor %}
            <table class="table table-striped table-advance table-hover">
             <tbody>
                <tr>
                  <th class="col-md-3">Name</th>
                  {% for subject in subjects %}
                    {% if subject.sTitle in parents %}
                      {% for c_subject in subject.childSubjects %}
                      <th>{{c_subject.cSTitle|title}}</th>
                      {% endfor %}
                    {% endif %}
                    <th style="color:red">{{subject.sTitle|title}}</th>
                  {% endfor %}
                </tr>
                {% for key, student in students %}
                  {% set hush = key + 1 %}
                <tr>
                   <td class="col-md-3">{{hush}}. {{student.names}}</td>
                    {% for subject in subjects %}
                      {% set key = student.id ~ '.' ~ subject.id ~ '.' ~ class.id %}
                      {% if subject.sTitle in parents %}                        
                        {% for c_subject in subject.childSubjects %}
                          {% set childKey = student.id ~ '.' ~ c_subject.id ~ '.' ~ class.id %}
                          <td><input value="{% if child_score_entries[childKey] is defined %}{{child_score_entries[childKey]}}{% endif %}" id="cSubject|{{c_subject.id}}_user|{{user.id}}_student|{{student.id}}_exam|{{exam.id}}_class|{{class.id}}" style="max-width:40px;" class="c_{{student.id}}_{{c_subject.id}}" type="text" /></td>
                        {% endfor %}
                      {% endif %}
                      <td>{% if subject.sTitle not in parents %}<input value="{% if score_entries[key] is defined %}{{score_entries[key]}}{% endif %}" id="subject|{{subject.id}}_user|{{user.id}}_student|{{student.id}}_exam|{{exam.id}}_class|{{class.id}}" style="max-width:40px;" class="s_{{student.id}}_{{subject.id}}" type="text" />{% else %}<span id="{{subject.id}}_{{user.id}}_{{student.id}}_{{exam.id}}_{{class.id}}"  class="s_{{student.id}}_{{subject.id}}" style="min-width:40px; background-color:#007aff; color:white; padding:2px;">{% if score_entries[key] is defined %}{{score_entries[key]}}{% endif %}</span> {% endif %}</td>
                    {% endfor %}
                </tr>
              {% endfor %}
             </tbody>
          </table>
        </section>
      </div>
      
      {% endif %}

{% endblock %}
{% endembed %}
{% endblock %}
{% block javascripts %}

<script>
  $(document).on('keyup', '[id^="subject|"]', function(){

      var id = jQuery(this).attr("id");
      var fields = id.split('_');
      var subject = fields[0].split('|')[1];
      var user = fields[1].split('|')[1];
      var student = fields[2].split('|')[1];
      var exam = fields[3].split('|')[1];
      var classs = fields[4].split('|')[1];
      var marks = $(this).val();


      // console.log('subject_id: ' + subject_id + ' student_id: ' + student_id);

      $.ajax({
          url:'{{ (path('record_exam_ajax')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "subject_id": subject,
              "student_id": student,
              "marks": marks,
              "user": user,
              "exam": exam,
              "class": classs,
          },
          async: true,
          success: function (data)
          {
            // $('#alert').html("<strong><small> Student: </small></strong> " + data.student + "<strong><small> Subject: </small></strong> "+ data.subject + "<strong><small> Marks: </small></strong>" + data.marks + "<strong><small> Exam Company: </small></strong>" + data.examCompany + "<strong><small> Term </small></strong>" + data.term + "<strong><small> Class: </small></strong>" + data.class );
            // $('#alert').html("Test: " + data.test );
          },
         error: function () {
            $('#alert').removeClass('alert-info').addClass('alert-warning');
            $('#alert').html("Something went wrong. Make sure you are typing only numbers and that the values are valid. Please call 0705285959 for assistance");
        }
      });

  });
</script>
<script>
  $(document).on('keyup', '[id^="cSubject|"]', function(){

      var id = jQuery(this).attr("id");
      var fields = id.split('_');
      var cSubject = fields[0].split('|')[1];
      var user = fields[1].split('|')[1];
      var student = fields[2].split('|')[1];
      var exam = fields[3].split('|')[1];
      var classs = fields[4].split('|')[1];
      var marks = $(this).val();

      // console.log('subject_id: ' + subject_id + ' student_id: ' + student_id);

      $.ajax({
          url:'{{ (path('record_exam_ajax_child')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "c_subject_id": cSubject,
              "student_id": student,
              "marks": marks,
              "user": user,
              "exam": exam,
              "class": classs,
          },
          async: true,
          success: function (data)
          {
            console.log(data.uniqueId)
            $(data.uniqueId).text(data.percentage);
          },
         error: function () {
            $('#alert').removeClass('alert-info').addClass('alert-warning');
            $('#alert').html("Something went wrong. Make sure you are typing only numbers and that the values are valid. Please call 0705285959 for assistance");
        }
      });

  });
</script>

<script>
$(document).on('keyup', '[id^="subject|"]',function (e){
    var id = jQuery(this).attr("id");

    if(e.keyCode == 38){
        $.ajax({
          url:'{{ (path('move_cursor')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "id": id,
              "direction": 'up'
          },
          async: true,
          success: function (data)
          {
            console.log(data)
            $(".s_"+data).focus();
          },
         error: function () {
          console.log("something's wrong")
        }
      });
    }
    if(e.keyCode == 40){
        $.ajax({
          url:'{{ (path('move_cursor')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "id": id,
              "direction": 'down'
          },
          async: true,
          success: function (data)
          {
            console.log(data)
            $(".s_"+data).focus();
          },
         error: function () {
          console.log("something's wrong")
        }
      });
    }
    if(e.keyCode == 37){
        $.ajax({
          url:'{{ (path('move_cursor')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "id": id,
              "direction": 'left'
          },
          async: true,
          success: function (data)
          {
            console.log(data)
            $(".s_"+data).focus();
          },
         error: function () {
          console.log("something's wrong")
        }
      });
      }
    if(e.keyCode == 39){
        $.ajax({
          url:'{{ (path('move_cursor')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "id": id,
              "direction": 'right'
          },
          async: true,
          success: function (data)
          {
            console.log(data)
            $(".s_"+data).focus();
          },
         error: function () {
          console.log("something's wrong")
        }
      });
      }
})
</script>

<script>
$(document).on('keyup', '[id^="cSubject|"]',function (e){
    var id = jQuery(this).attr("id");

    if(e.keyCode == 38){
        $.ajax({
          url:'{{ (path('move_cursor_child')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "id": id,
              "direction": 'up'
          },
          async: true,
          success: function (data)
          {
            console.log(data)
            $(".c_"+data).focus();
          },
         error: function () {
          console.log("something's wrong")
        }
      });
    }
    if(e.keyCode == 40){
        $.ajax({
          url:'{{ (path('move_cursor_child')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "id": id,
              "direction": 'down'
          },
          async: true,
          success: function (data)
          {
            console.log(data)
            $(".c_"+data).focus();
          },
         error: function () {
          console.log("something's wrong")
        }
      });
    }
    if(e.keyCode == 37){
        $.ajax({
          url:'{{ (path('move_cursor_child')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "id": id,
              "direction": 'left'
          },
          async: true,
          success: function (data)
          {
            console.log(data)
            $(".c_"+data).focus();
          },
         error: function () {
          console.log("something's wrong")
        }
      });
      }
    if(e.keyCode == 39){
        $.ajax({
          url:'{{ (path('move_cursor_child')) }}',
          type: "POST",
          dataType: "json",
          data: {
              "id": id,
              "direction": 'right'
          },
          async: true,
          success: function (data)
          {
            console.log(data)
            $(".c_"+data).focus();
          },
         error: function () {
          console.log("something's wrong")
        }
      });
      }
})
</script>

{% endblock %}
