{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Morris Charts CSS -->
    <link href="{{asset('vendor/morrisjs/morris.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
<body>
{% set info = "with_print_material" %}
{{ include('templates/header.html.twig') }}        		
{{ include('templates/aside.html.twig') }}        		
{% embed "templates/content_draft.html.twig" %}
	{% block content %}
	{% if subject_list is not empty %}
	<div class="col-lg-12">
	  <section id="printDiv" class="panel">
	      <header class="panel-heading">
	          {{class.cTitle}} - Progress Graph for at most Last 5 Exams
          		 [ Order of subjects
	            {% for subject in app.user.subjects %}
	             <span style="margin:20px">{{subject.sTitle}}</span>
	            {% endfor %} ]
	      </header>
	      <div class="panel-body" id="chartjs">
	      	{% set width = exams|length * 250 %}
              <div class="col-lg-12">
                  <section class="panel">
                        <div class="panel-body">
                            <div id="morris-bar-chart"></div>
                        </div>
                  </section>
              </div>   	      
          </div>
	      <div class="panel-body" id="chartjs">
	      	{% set width = exams|length * 250 %}
              <div class="col-lg-6">
                  <section class="panel">
                        <div class="panel-body">
                            <div id="morris-bar-chart2"></div>
                        </div>
                  </section>
              </div>   	      
          </div>
	  </section>
	</div>
	{% else %}
		<div class="well">
			<h4>You will find the class' graphs for previous exams here, after you have recorded some exam entries.</h4>
		</div>
	{% endif %}
{% endblock %}
{% endembed %}
{% endblock %}
{% block javascripts %}
    <!-- Morris Charts JavaScript -->
    <script src="{{asset('vendor/raphael/raphael.min.js')}}"></script>
    <script src="{{asset('vendor/morrisjs/morris.min.js')}}"></script>
    <script src="{{asset('data/morris-data.js')}}"></script>
    <script src="{{asset('printThis/printThis.js')}}"></script>
    <script type="text/javascript">
	  $(document).ready(function() {
	    $( "#triggerPrint" ).click(function(e) {		
	    	$("#printDiv").printThis({
			    debug: false,               // show the iframe for debugging
			    importCSS: true,            // import page CSS
			    importStyle: false,         // import style tags
			    printContainer: true,       // grab outer container as well as the contents of the selector
			    pageTitle: "Performance History for class {{class.cTitle}}",              // add title to print page
			    removeInline: false,        // remove all inline styles from print elements
			    printDelay: 333,            // variable print delay; depending on complexity a higher value may be necessary
			    header: null,               // prefix to html
			    footer: null,               // postfix to html
			    base: false ,               // preserve the BASE tag, or accept a string for the URL
			    formValues: true,           // preserve input/form values
			    canvas: false,              // copy canvas elements (experimental)
			    doctypeString: "...",       // enter a different doctype for older markup
			    removeScripts: false,       // remove script tags from print content
			    copyTagClasses: false       // copy classes from the html & body tag
			});
	    });
	  });    
	</script>
    <script type="text/javascript">
    $(function() {

	    Morris.Bar({
	        element: 'morris-bar-chart',
	        data: [
	        {% for exam in subject_list %}
	        {
	            y: "{{exam|first['company'][0]}}",
	            {% for key, entry in exam %}
	             {{key|replace({'/':'_', ' ':'_'})}}: {{entry['sum']}},
	            {% endfor %}
	        },
	        {% endfor %}
	        ],
	        xkey: 'y',
	        ykeys: [
	            {% for subject in app.user.subjects %}
	            '{{subject.sTitle|replace({'/':'_', ' ':'_'})}}',
	            {% endfor %}
	        ],
	        labels: [
	            {% for subject in app.user.subjects %}
	            '{{subject.sTitle|replace({'/':'_', ' ':'_'})}}',
	            {% endfor %}
	        ],
	        hideHover: 'auto',
	        resize: true
	    });

		var items = $("#morris-bar-chart").find( "svg" ).find("rect");
		$.each(items,function(index,v){
		    var value = {{list|json_encode()}}[index]//theJson[index].count;
		    var newY = parseFloat( $(this).attr('y') - 20 );
		    var halfWidth = parseFloat( $(this).attr('width') / 2 );
		    var newX = parseFloat( $(this).attr('x') ) +  halfWidth;
		    var output = '<text style="text-anchor: middle; font: 12px sans-serif;" x="'+newX+'" y="'+newY+'" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.875)"><tspan dy="3.75">'+value+'</tspan></text>';
		    $("#morris-bar-chart").find( "svg" ).append(parseSVG(output));
		});

   
    });        	
	function parseSVG(s) {
        var div= document.createElementNS('http://www.w3.org/1999/xhtml', 'div');
        div.innerHTML= '<svg xmlns="http://www.w3.org/2000/svg">'+s+'</svg>';
        var frag= document.createDocumentFragment();
        while (div.firstChild.firstChild)
            frag.appendChild(div.firstChild.firstChild);
        return frag;
    }    
    </script>

    <script type="text/javascript">

	    Morris.Bar({
	        element: 'morris-bar-chart2',
	        data: [
	        {% for exam in score_lst %}
	        {% set total = 0 %}
	        {% set mean = 0 %}
	        {
	            y: '{{exam[0].examCompany.cTitle}}',
	            {% for entry in exam %}
	            	{% set total = total + entry.marks %}
	            {% endfor %}
	            {% set mean = total / class.students|length %}
	            a: {{total}},
	            b: {{mean|round(2)}}
	        },
	        {% endfor %}
	        ],
	        xkey: 'y',
	        ykeys: ['a', 'b'],
	        labels: ['Total Score', 'Mean Score'],
	        hideHover: 'auto',
	        resize: true
	    });

		var items2 = $("#morris-bar-chart2").find( "svg" ).find("rect");
		$.each(items2,function(index,v){
		    var value = {{merged|json_encode()}}[index]
		    var newY = parseFloat( $(this).attr('y') - 20 );
		    var halfWidth = parseFloat( $(this).attr('width') / 2 );
		    var newX = parseFloat( $(this).attr('x') ) +  halfWidth;
		    var output = '<text style="text-anchor: middle; font: 12px sans-serif;" x="'+newX+'" y="'+newY+'" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.875)"><tspan dy="3.75">'+value+'</tspan></text>';
		    $("#morris-bar-chart2").find( "svg" ).append(parseSVG(output));
		console.log(value);
		});

    </script>
{% endblock %}