<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Karmanta - Bootstrap 3 Responsive Admin Template">
	    <meta name="author" content="GeeksLabs">
	    <meta name="keyword" content="Exam Pro System">
	    {# <link rel="shortcut icon" href="{{asset('img/favicon.png"> #}

	    <title>Exam Pro</title>

	    <!-- Bootstrap CSS -->    
	    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
	    <!-- bootstrap theme -->
	    <link href="{{asset('css/bootstrap-theme.css')}}" rel="stylesheet">
	    <!--external css-->
	    <!-- font icon -->
	    <link href="{{asset('css/elegant-icons-style.css')}}" rel="stylesheet" />
	    <link href="{{asset('assets/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />    
	    <!-- full calendar css-->
	    <link href="{{asset('assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css')}}" rel="stylesheet" />
	    <!-- easy pie chart-->
	    <link href="{{asset('assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css')}}" rel="stylesheet" type="text/css" media="screen"/>
	    <!-- owl carousel -->
	    <link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}" type="text/css">
	    <!-- notiny CSS -->
	    <link href="{{ asset('notiny/notiny.min.css') }}" rel="stylesheet">
	    <!-- Custom styles -->
	    <link href="{{asset('css/style.css')}}" rel="stylesheet">
	    <link href="{{asset('css/style-responsive.css')}}" rel="stylesheet" />

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
	    <!--[if lt IE 9]>
	      <script src="{{asset('js/html5shiv.js')}}"></script>
	      <script src="{{asset('js/respond.min.js')}}"></script>
	      <script src="{{asset('js/lte-ie7.js')}}"></script>
	    <![endif]-->    	
	    {% block stylesheets %}{% endblock %}
    </head>
	{% block body %}{% endblock %}
	{% if app.user.configs is defined and app.user.configs is not empty %}
    	{% set entriesPerPage = app.user.configs|first.resultsPerPage %}
    {% else %}
    	{% set entriesPerPage = 10 %}
    {% endif %}
    <!-- javascripts -->
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/jquery-1.8.3.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script>
    <!-- bootstrap -->
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <!-- nice scroll -->
    <script src="{{asset('js/jquery.scrollTo.min.js')}}"></script>
    <script src="{{asset('js/jquery.nicescroll.js')}}" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="{{asset('assets/jquery-knob/js/jquery.knob.js')}}"></script>
    <script src="{{asset('js/jquery.sparkline.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js')}}"></script>
    <script src="{{asset('js/owl.carousel.js')}}" ></script>
    <!-- jQuery full calendar -->
    <script src="{{asset('assets/fullcalendar/fullcalendar/fullcalendar.min.js')}}"></script>
    <!--script for this page only-->
    <script src="{{asset('js/calendar-custom.js')}}"></script>
    <!-- custom select -->
    <script src="{{asset('js/jquery.customSelect.min.js')}}" ></script>
    <!--custome script for all page-->
    <script src="{{asset('js/scripts.js')}}"></script>
    <!-- custom script for this page-->
    <script src="{{asset('js/sparkline-chart.js')}}"></script>
    <script src="{{asset('js/easy-pie-chart.js')}}"></script>
    <!-- Notification javascript - notiny -->
    <script src="{{ asset('notiny/notiny.min.js') }}"></script>
	  <script>

	      //knob
	      $(function() {
	        $(".knob").knob({
	          'draw' : function () { 
	            $(this.i).val(this.cv + '%')
	          }
	        })
	      });

	      //carousel
	      $(document).ready(function() {
	          $("#owl-slider").owlCarousel({
	              navigation : true,
	              slideSpeed : 300,
	              paginationSpeed : 400,
	              singleItem : true

	          });
	      });

	      //custom select box

	      $(function(){
	          $('select.styled').customSelect();
	      });

	  </script>
	  
    {% for message in app.flashes('success') %}
        <script type="text/javascript">
            $.notiny({ text: '{{ message }}',  position: 'left-top' });
        </script>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <script type="text/javascript">
            $.notiny({ text: '{{ message }}',  position: 'left-top' });
        </script>
    {% endfor %}
	{% block javascripts %}{% endblock %}

  </body>
</html>
