{% extends 'base.html.twig' %}
{% block body %}
<body>
{{ include('templates/header.html.twig') }}        		
{{ include('templates/aside.html.twig') }}        		
{% embed "templates/content_draft.html.twig" %}
	{% block content %}
	<div class="col-lg-6">
	  <section class="panel">
	      <header class="panel-heading">
	          Edit Student Details
				{% if not form.vars.valid %}
	              <div class="alert alert-warning">
	              <p>Please check your entries below</p>
	              </div>				
          		{% endif %}	          
	      </header>
	      <div class="panel-body">
	          {{ form_start(form, {'method': 'post'} ) }}
	              <div class="form-group">
	                  <label for="student_names">Name</label>
	                  {{ form_row(form.names, {'attr': {'class': 'form-control', 'placeholder': 'Full Name' }}) }}
	              </div>
	              <div class="form-group">
	                  <label for="student_gender">Gender</label>
	                  {{ form_row(form.gender, {'attr': {'class': 'form-control' }}) }}
	              </div>
	              <div class="form-group">
	                  <label for="student_class">Class</label>
	                  {{ form_row(form.class, {'attr': {'class': 'form-control' }}) }}
	              </div>
	              <div class="form-group">
	                  <label for="student_names">UPI Number</label>
	                  {{ form_row(form.upi_number, {'attr': {'class': 'form-control', 'placeholder': 'UPI Number' }}) }}
	              </div>
	              {{ form_row(form.save, {'attr': {'class': 'btn btn-primary pull-left margin-md', 'style': 'margin-right: 5px'}}) }}
	              {{ form_widget(form.saveAndAdd, {'attr': {'class': 'btn btn-info pull-left' }} ) }}
	              <a href="{{path('homepage')}}" class="btn btn-danger pull-right" style="margin-left: 5px;">DONE</a>
	              <a href="{{path('choose_class', {'goto': 'list_students'})}}" class="btn btn-danger pull-right">List</a>
	              
	          {{ form_end(form) }}

	      </div>
	  </section>
	</div>
{% endblock %}
{% endembed %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
    $(function() {
      $("#student_names").focus();
    });    
  </script>
{% endblock %}