{% extends 'base.html.twig' %}
{% block stylesheets %}

    <!-- DataTables CSS -->
    <link href="{{ asset('vendor/datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ asset('vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}
<body>
{{ include('templates/header.html.twig') }}
{{ include('templates/aside.html.twig') }}
{% embed "templates/content_draft.html.twig" %}
	{% block content %}

		<div class="col-sm-12">
		  <section class="panel">
		      <header class="panel-heading">
		          Your Downloads
		      </header>
		      {% if downloads is not empty %}
          <span id="notify"></span>
		      <table class="table table-striped table-hover" id="dataTables-example">
		          <thead>
		          <tr>
		              <th>Description</th>
		              <th>Remaining downloads</th>
		              <th>Status</th>
		              <th>Download</th>
		          </tr>
		          </thead>
		          <tbody>
		          {% for download in downloads %}
			      {% set classId = download.link|split("/")[0] %}
			      {% set examId = download.link|split("/")[1] %}
		          <tr>
		              <td style="white-space: nowrap;">{{download.description}}</td>
		              <td style="white-space: nowrap;">{{download.times}}</td>
		              <td style="white-space: nowrap;">{{ download.status ? 'Active':'Inactive' }}</td>
					  <td>
		                  <div class="btn-group">
				              <a id="trigger_notify" class="btn btn-sm btn-primary" href="{{ path('download', {'what': 'exam', 'a': classId, 'b': examId, 'c': download.id}) }}" style="margin-right:5px">Download PDF</a>
				              <a id="trigger_notify" class="btn btn-sm btn-primary" href="{{ path('download', {'what': 'exam_img', 'a': classId, 'b': examId, 'c': download.id}) }}" style="margin-right:5px">Download Image</a>
				              <a id="trigger_notify" class="btn btn-sm btn-primary" href="{{ path('download', {'what': 'report', 'a': classId, 'b': examId, 'c': download.id}) }}" style="margin-right:5px">Download Report Forms</a>
				              <a class="btn btn-sm btn-primary" href="{{path('record_summary', {'classId': classId, 'companyId': examId})}}" style="margin-right:5px">Add Code</a>
                      <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" title="Delete Student" href="#deleteModal{{download.id}}">Delete</button>
		                  </div>
		              </td>
		          </tr>
		      	  {% endfor %}
		          </tbody>
		      </table>
              {% else %}
                <div class="well">
                  <h4>Hmm! You have got no downloads so far</h4>
                </div>
              {% endif %}
	  </section>
		</div>
		{% for download in downloads %}
		    <!-- Modal -->
			<div class="modal fade" id="deleteModal{{download.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			  <div class="modal-dialog">
			      <div class="modal-content">
			          <div class="modal-header">
			              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			              <h4 class="modal-title">Are you sure?</h4>
			          </div>
			          <div class="modal-body">

			              <p>Are you sure you want to delete this download?</p>

			          </div>
			          <div class="modal-footer">
			              <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
			              <a href="{{ path('delete_download', { 'downloadId': download.id } ) }}" class="btn btn-danger">Go Ahead</a>
			          </div>
			      </div>
			  </div>
			</div>
		{% endfor %}
	{% endblock %}
{% endembed %}
{% endblock %}

{% block javascripts %}
    <!-- DataTables JavaScript -->
    <script src="{{ asset('vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true,
            "pageLength": {{entriesPerPage}}

        });
    });
    </script>
    <script>
      $(document).on('click', '[id="trigger_notify"]', function(){
          $("#notify").html('<p class="alert alert-success">Please wait. It will take a moment to generate the file for download.');
      });
     </script>

{% endblock %}
