{% extends 'base.html.twig' %}
{% block body %}
<body>
{{ include('templates/header.html.twig') }}
{{ include('templates/aside.html.twig') }}
{% embed "templates/content_draft.html.twig" %}
	{% block content %}
	<div class="col-lg-6">
	  <section class="panel">
	      <header class="panel-heading">
	          Add Child Subject for {{subject.sTitle}}
	      </header>
	      <div class="panel-body">
	          <form id="form">
	              <div class="form-group">
	                  <label for="child_subject_c_s_title">Child Subject Title</label>
	                  <input class="form-control" type="text" id="cSTitle" placeholder="Child Subject Title" />
	              </div>
	              <div class="form-group">
	                  <label for="child_subject_c_s_title">Marked Out Of:</label>
	                  <input class="form-control" type="text" id="outOf" placeholder="Out Of" />
	              </div>
	              <button class="btn btn-primary btn-outline" type="button" id="save">Save</button>
	              <a href="{{path('homepage')}}" class="btn btn-danger pull-right" style="margin-left: 5px;">DONE</a>
	              <a href="{{path('list_childSubjects')}}" class="btn btn-danger pull-right" style="margin-left: 5px;">List</a>
		  		  <a class="btn btn-info pull-right"  href="{{path('calculate_childSubjects', {'subjectId': subject.id})}}" onclick="window.location.href=window.location.href">Formula</a>

	          </form>

	      </div>
	  </section>
	</div>
	{% if app.user.childSubjects is not empty %}
	<div class="col-lg-6">
	  <section class="panel">
	      <header class="panel-heading">
	          Added Child Subjects
	      </header>
	      <div class="panel-body">
			<p>
				<ol id="added_c_subjects">
					{% for childSubject in childSubjects %}
						<li>{{childSubject.cSTitle}} [{{childSubject.subject.sTitle}}]</li>
					{% endfor %}
				</ol>
			</p>
	      </div>
	  </section>
	</div>
	{% else %}
	<div class="col-lg-6">
	  <section class="panel">
	      <header class="panel-heading">
	          Added Child Subjects
	      </header>
	      <div class="panel-body">
			<p>
				<ol id="added_c_subjects">
				</ol>
			</p>
	      </div>
	  </section>
	</div>
	{% endif %}
{% endblock %}
{% endembed %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
    $(function() {
      $("#child_subject_c_s_title").focus();
    });
  </script>
	<script>
	  $(document).on('click', '#save', function(){
			var c_s_title = $('#cSTitle').val();
			var out_of = $('#outOf').val();
			var subject_id = {{subject.id}};
			$('#form').checkFields();
			$('#save').html('Wait...');
			$.ajax({
	        url:'{{ (path('save_entity')) }}',
	        type: "POST",
	        dataType: "json",
	        data: {
						"return": 'getCSTitle',
						"entity": 'ChildSubject',
						"fields": ['cSTitle', 'outOf', 'subject_id'],
						"values": [c_s_title, out_of, subject_id],
	        },
	        async: true,
	        success: function (data)
	        {
						console.log(data);
						$("#cTitle").val('').focus();
						$("#added_c_subjects").append('<li>'+data+'</li>');
						$("#class_teacher").val('');
						$('#save').html('SAVED').removeClass('btn-primary').addClass('btn-success');
	        },
		      error: function (xhr, status, error) {
						console.log('error');
		      }
	    });

	  });
	</script>
	<script>
	$(document).on('keyup', '#cSTitle',function (e){
			$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
	});
	</script>
	<script>
		$(document).on('keypress', '#outOf', function(e){
			 var key = e.which;
			 if(key == 13){
					$("#save").click();
					e.preventDefault();
				} else {
					$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
				}
		});

</script>
{% endblock %}
