{% extends 'base.html.twig' %}
{% block body %}
<body>
{{ include('templates/header.html.twig') }}
{{ include('templates/aside.html.twig') }}
{% embed "templates/content_draft.html.twig" %}
	{% block content %}
	<div class="col-lg-6">
	  <section class="panel">
	      <header class="panel-heading">
	          Add Exam
	      </header>
	      <div class="panel-body">
	      	{% if app.user.classes is not empty %}
	          <form id="form">
	              <div class="form-group">
	                  <label for="exam_company_c_title">Exam Company Title</label>
	                  <input class="form-control" type="text" id="cTitle" placeholder="Exam Title" />
	              </div>
	              <button class="btn btn-primary btn-outline" type="button" id="save">Save</button>
	              <a href="{{path('homepage')}}" class="btn btn-danger pull-right" style="margin-left: 5px;">DONE</a>
	              <a href="{{path('list_examCompanies', {'classId': class.id })}}" class="btn btn-danger pull-right">List</a>

	          </form>
						{% else %}
	            <div class="well">
	              <h4>You need to  <a href="{{path('new_class')}}"> have at least one class </a> to add an exam </h4>
	            </div>
            {% endif %}
	      </div>
	  </section>
	</div>
	{% if app.user.examCompanies is not empty %}
	<div class="col-lg-6">
	  <section class="panel">
	      <header class="panel-heading">
	          Added Exams
	      </header>
	      <div class="panel-body">
					<p>
						<ol id="added_exams">
							{% for exam in app.user.examCompanies %}
								<li>{{exam.cTitle}} [{{exam.class.cTitle}}]</li>
							{% endfor %}
						</ol>
					</p>
	      </div>
	  </section>
	</div>
	{% else %}
	<div class="col-lg-6">
	  <section class="panel">
	      <header class="panel-heading">
	          Added Exams
	      </header>
	      <div class="panel-body">
					<p>
						<ol id="added_exams">

						</ol>
					</p>
	      </div>
	  </section>
	</div>
	{% endif %}

{% endblock %}
{% endembed %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
    $(function() {
      $("#cTitle").focus();
    });
  </script>
	<script>
	  $(document).on('click', '#save', function(){
			var c_title = $('#cTitle').val();
			var class_id = {{class.id}};
			$('#form').checkFields();
			$('#save').html('Wait...');
			$.ajax({
	        url:'{{ (path('save_entity')) }}',
	        type: "POST",
	        dataType: "json",
	        data: {
						"return": 'getCTitle',
						"entity": 'ExamCompany',
						"fields": ['cTitle', 'class_id'],
						"values": [c_title, class_id],
	        },
	        async: true,
	        success: function (data)
	        {
						console.log(data);
						$("#cTitle").val('').focus();
						$("#added_exams").append('<li>'+data+'</li>');
						$('#save').html('SAVED').removeClass('btn-primary').addClass('btn-success');
	        },
		      error: function (xhr, status, error) {
						console.log('error');
		      }
	    });

	  });
	</script>
	<script>
		$(document).on('keypress', '#cTitle', function(e){
			 var key = e.which;
			 if(key == 13){
					$("#save").click();
					e.preventDefault();
				} else {
					$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
				}
		});

</script>
{% endblock %}
